/* NavigationButtons.css */

.navigation-buttons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation-buttons-container button {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  width: 275px;
  height: 44px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.navigation-buttons-container .page-active {
  background-color: #f22539;
}
.navigation-buttons-container .page-active:hover {
  background-color: #c00e20;
}
.navigation-buttons-container .page-disabled {
  background-color: #bfbfbf;
}

.navigation-buttons-container .navbar-icon {
  width: 22px;
  height: 22px;
  background-color: transparent;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navigation-buttons-container button {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .navigation-buttons-container button {
    width: 150px;
  }
}
