.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.description-container {
  position: fixed;
  width: 570px;
  height: 506px;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
}

.description-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.description-container .image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.description-container .image-container .background-image {
  width: 100%;
}

.description-container .image-container .pokemon-image {
  position: fixed;
  width: 180px;
  background-color: transparent;
}

.description-container .pokemon-info {
  width: 510px;
  margin: 10px 30px;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #5e5e5e;
  border-bottom: 1px solid #e8e8e8;
  background-color: #ffffff;
  text-transform: capitalize;
}

.description-container .buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.description-container .buttons-container .share-button {
  width: 195px;
  height: 44px;
  padding: 11px 20px;
  margin: 20px 30px;
  background-color: #f22539;
  border: none;
  border-radius: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.description-container .buttons-container .share-button:hover {
  background-color: #c00e20;
}

.buttons-container .favorite-icon {
  margin: 20px 30px;
  border: none;
  cursor: pointer;
  width: 26px;
  height: 26px;
  color: #bfbfbf;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 50%;
}
.description-container .favorite-icon-active {
  color: #eca539;
}

@media (max-width: 768px) {
  .description-container {
    width: 440px;
  }

  .description-container .background-image {
    height: 220px;
  }

  .description-container .pokemon-info {
    width: 95%;
    margin: 10px 20px;
    padding: 12px 0px;
  }

  .description-container .buttons-container .share-button {
    width: 195px;
    padding: 5px 10px;
    margin: 10px 15px;
  }
}

@media (max-width: 480px) {
  .description-container {
    width: 315px;
  }

  .description-container .pokemon-info {
    width: 255px;
    margin: 5px 15px;
    padding: 10px 0px;
  }
}
